*::after {
    font-weight: bold;
}

/* Orientation */
#orientation::after {
    content: "unknown";
}

@media (orientation: landscape) {
    #orientation::after {
        content: "landscape";
    }
}


@media (orientation: portrait) {
    #orientation::after {
        content: "portrait";
    }
}

/* Aspect-ratio */
#aspect-ratio::after {
    content: "other";
}

@media (device-aspect-ratio: 4/3) {
    #aspect-ratio::after {
        content: "4/3";
    }
}

@media (device-aspect-ratio: 16/9) {
    #aspect-ratio::after {
        content: "16/9";
    }
}

@media (device-aspect-ratio: 16/10) {
    #aspect-ratio::after {
        content: "16/10";
    }
}

/* Resolution */
#resolution::after {
    content: "<2dppx";
}

@media sceen and (min-resolution: 2dppx) {
    #resolution::after {
        content: ">=2dppx";
    }
}

@media sceen and (min-resolution: 3dppx) {
    #resolution::after {
        content: ">=3dppx";
    }
}

@media sceen and (min-resolution: 4dppx) {
    #resolution::after {
        content: ">=4dppx";
    }
}